/*=============================*/
/* slider styles */
/*=============================*/
.slider-goods {
    background-color: #0707075e;
    line-height: 2;
    width: 100%;
    position: absolute;
    height: 100%;
    padding: 0 0rem;
    transform: translateX(100%);
    z-index: 50;
    transition: ease-in-out 0.3s;
    font-size: 1rem;

    @include small {
        font-size: 0.6rem;
    }

    .cart-status {
        @include flex(space-between);
    }
    .empty-card {
        height: 100%;
        text-align: center;
        line-height: 40rem;
    }

    .item-section {
        background-color: $white;
        padding: 0 1rem;
        height: 100%;
        width: 80%;
        margin-left: auto;
    }

    @include small {
        .item-section {
            width: 90%;
        }
    }

    @include mobile {
        .item-section {
            width: 100%;
        }
    }
}

.cls-btn {
    font-size: 1.4rem;

    i:hover {
        transition: ease-in-out 0.3s;
        cursor: pointer;
        color: $danger;
    }
}

/*=============================*/
/* menu-list styles */
/*=============================*/
.menu-list {
    background-color: #0707075e;
    line-height: 2;
    width: 100%;
    position: absolute;
    height: 100%;
    padding: 0 0rem;
    transform: translateX(-100%);
    z-index: 50;
    transition: ease-in-out 0.3s;
    font-size: 1rem;

    .cls-btn {
        width: 100%;
        display: block;
        text-align: end;
    }
    .menu-section {
        background-color: $white;
        padding: 0 1rem;
        font-size: 0.8rem;

        ul li {
            border-bottom: 2px solid #d2d2d2;
            transition: ease-in-out 0.3s;
            cursor: pointer;
            height: 2.5rem;
            line-height: 2.5rem;
            padding-left: 11px;
            border-radius: 2px;

            &:hover {
                color: $white;
                background-color: $black;

                a {
                    color: white;
                }
            }

            img {
                height: 25px;
                margin-right: 7px;
            }
        }
    }

    .new {
        background-color: $cyan;
        color: $white;
        font-weight: bold;
        padding: 3px 8px;
        margin-left: 17px;
        position: relative;
        border-radius: 2px;
    }
}

@include medium {
    .menu-list {
        display: flex;
    }

    .menu-section {
        width: 60%;
    }
}

@include small {
    .menu-section {
        width: 90%;
    }
}

@include mobile {
    .menu-section {
        width: 100%;
    }
}

/*=============================*/
/* landing-page styles */
/*=============================*/
.landing-page {
    background: url("../img/WinterSale_HomepageBanner_v3.webp") center / cover no-repeat;
    height: 100vh;
    position: relative;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;

    .buy-now {
        @include setBack($black);
        text-align: center;
        font-weight: 600;
        padding: 13px 0;
        font-size: 0.4rem;

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

/*=============================*/
/* shop btns styles styles */
/*=============================*/

.shop-btn {
    @include flex(space-around);
    height: 10rem;

    @include small {
        @include flex(space-around);
        flex-direction: column;
    }

    button {
        @include setBack($white, hover);
        @include btn(2.8rem, 4px);
    }
}

/*=============================*/
/*mens && womens items */
/*=============================*/

.mens-womens {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2);
    margin: auto;
    text-align: center;
    justify-items: center;
    align-items: center;
    line-height: 2;
    position: relative;
    grid-row-gap: 4rem;
    overflow: hidden;

    @include medium {
        grid-row-gap: 0;
    }

    p,
    button {
        font-family: "Roboto Slab", serif;
    }

    img {
        height: 25vw;
        border-radius: 2px;
        box-shadow: 7px 1px 8px $gray;

        @include medium {
            width: 43vw;
            height: 21rem;
            margin: 0 1rem;
        }

        @include small {
            width: 80vw;
            height: 21rem;
        }

        @include mobile {
            height: 12rem;
        }
    }

    .men-pic,
    .women-pic {
        display: flex;
        justify-content: space-between;

        @include medium {
            transform: translateX(-1.5%);
            overflow: hidden;
        }

        @include small {
            transform: translateX(-14.5%);
            overflow: hidden;
        }
    }

    .model {
        display: flex;
        flex-direction: column;
        font-size: 0.7rem;
        width: 22%;
        cursor: pointer;

        img:hover {
            transition: ease-in-out 0.2s;
            border: 2px solid black;
        }

        .des {
            line-height: 2;

            .prix {
                display: block;
                color: $orange;
                font-weight: bold;
            }
        }
    }

    .title-two {
        button {
            @include setBack($white, hover);
            @include btn();
        }
    }

    .arrow-right {
        position: relative;
        left: 46%;
        top: 13rem;
        font-size: 3rem;
        z-index: 1;
        display: none;
        cursor: pointer;

        @include mobile {
            font-size: 2rem;
            top: 8rem;
        }
    }

    .arrow-left {
        position: relative;
        right: 46%;
        bottom: 16.8rem;
        font-size: 3rem;
        z-index: 1;
        display: none;
        cursor: pointer;

        @include mobile {
            font-size: 2rem;
            bottom: 10.8rem;
        }
    }

    /*=================media queries=============*/
    @include medium {
        .arrow-right,
        .arrow-left {
            display: inline-block;
        }
    }
}

/*=============================*/
/*quote */
/*=============================*/
.quote {
    padding: 3rem 4rem;
    line-height: 2;
    text-align: center;

    @include small {
        padding: 0rem 0.8rem 4rem;
    }

    //     @include mobile {
    //        padding: 0rem 0.8rem 4rem;
    //     }

    q {
        font-weight: lighter;
        font-style: italic;
        color: $text-light;
    }

    strong {
        display: block;
        font-family: "Roboto Slab", serif;
    }

    /*=================media queries=============*/

    //     @include mobile {
    //        padding: 0rem 0.8rem 4rem;
    //     }
}

/*=============================*/
/* Agile sezction */
/*=============================*/

.agile {
    background-image: url(https://cdn11.bigcommerce.com/s-iyqvgyco/images/stencil/1920x1920/h/mens-tanks-cat-header__16092.original.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    color: white;
    padding: 5rem 5rem;
    line-height: 2.5;
    display: flex;
    align-items: center;

    @include small {
        padding: 5rem 0;
        text-align: center;
    }

    @include mobile {
        font-size: 0.8rem;
        padding: 2rem 0;
    }

    .agil-content {
        padding-left: 10%;
        width: 50%;

        @include medium {
            padding-left: 0;
            width: 100%;
        }

        p {
            font-size: 0.8rem;
            font-style: italic;
        }

        button {
            margin-top: 5px;
            @include setBack(transparent, hover);
            @include btn(2.5rem, 2px, 2px solid $white);

            @include small {
                margin: auto;
            }
        }
    }

    /*=================media queries=============*/
}

/*=============================*/
/* sales sezction */
/*=============================*/

.sales {
    @include flex(space-around);
    margin: 6rem 0 4rem 0;
    line-height: 2;
    font-family: "Roboto Slab", serif;

    @include small {
        display: block;
    }

    @include mobile {
        font-size: 0.8rem;
    }

    img {
        transition: ease-in-out 0.3s;
        height: 43vw;
        border-radius: 2px;
        cursor: pointer;

        @include small {
            height: 80vw;
        }
    }
    img:hover {
        @extend .darken;
        filter: drop-shadow(23px 14px 16px #606363);
        padding: 10px 0;
    }

    .mens-sales,
    .womens-sales {
        text-align: center;

        a {
            display: block;
            // text-decoration: underline;
            font-family: "Roboto Slab", serif;
            font-weight: 700;
            letter-spacing: 1.8px;
            @include lineEffect(-3px);
            width: fit-content;
            margin: auto;
        }
    }
}

/*=============================*/
/* Features section */
/*=============================*/
.features {
    @include flex(space-between);
    width: 90%;
    margin: auto;
    flex-wrap: wrap;

    .feature {
        @include flex(space-evenly);
        flex-direction: column;
        height: 13rem;
        width: 20%;
        text-align: center;

        h3 {
            font-family: "Roboto Slab", serif;
            text-transform: capitalize;
            &::before {
                content: "";
                display: block;
                height: 2px;
                width: 3rem;
                background-color: #ddd8d869;
                position: relative;
                bottom: 21px;
                margin: auto;
                border-radius: 3px;
            }
        }

        p {
            color: $text-light;
            font-size: 0.7rem;
            font-style: italic;
            letter-spacing: 1px;

            @include medium {
                width: 80%;
                margin-bottom: 1rem;
            }
        }
    }

    img {
        height: 3rem;
        text-align: center;
        width: 100%;
        padding-left: 43%;
    }

    /*=================media queries=============*/
    @include medium {
        .feature {
            width: 40%;
        }

        .feature:nth-child(3n - 2) {
            background-color: #f1f1f1;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
    }

    @include small {
        .feature {
            width: 80%;
            margin: auto;
        }
    }

    @include mobile {
        .feature {
            width: 100%;
        }
    }
}

/*=============================*/
/* sign up section */
/*=============================*/
.sign {
    padding: 2rem 0;
    background: $back-light;
    @include flex(space-around);

    @include medium {
        display: block;
        text-align: center;
    }

    .sign-title {
        font-size: 1.5rem;
        line-height: 2;
        strong {
            font-weight: bolder;
            text-shadow: 2px 1px 6px #3d0000;
            font-size: 2.5rem;
        }
        p {
            font-style: italic;
        }
    }
    .my-form {
        position: relative;
        width: 38%;

        @include medium {
            margin: 2rem auto;
            width: 52%;
        }

        @include medium {
            width: 80%;
        }

        input {
            @extend .input;
            @include border(0, 0, 1px, 0, black);
        }
    }

    button {
        @include btn();
        @include setBack($black, hover);

        @include medium {
            margin: auto;
        }
    }

    /*=================media queries=============*/
}
