// flex style
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// hover over an image
.hover-img {
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 1.25em;
        bottom: 1.25em;
        left: 1.25em;
        right: 1.25em;
    }
    &::before {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        transform: scale(0, 1);
        transition: transform ease-out 250ms;
        width: 60%;
        margin: auto;
    }

    &:hover::before {
        cursor: pointer;
        transform: scale(1, 1);
    }

    &::after {
        border-left: 2px solid white;
        border-right: 2px solid white;
        transform: scale(1, 0);
        transition: transform ease-out 250ms;
        height: 60%;
        margin: auto;
    }

    &:hover::after {
        cursor: pointer;
        transform: scale(1, 1);
    }
}

.darken {
    filter: brightness(0.5);
}
