//========================//
// image hover style
//========================//
.hover-img {
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 1.25em;
        bottom: 1.25em;
        left: 1.25em;
        right: 1.25em;
    }
    &::before {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        transform: scale(0, 1);
        transition: transform ease-out 250ms;
        width: 60%;
        margin: auto;
    }

    &:hover::before {
        cursor: pointer;
        transform: scale(1, 1);
    }

    &::after {
        border-left: 2px solid white;
        border-right: 2px solid white;
        transform: scale(1, 0);
        transition: transform ease-out 250ms;
        height: 60%;
        margin: auto;
    }

    &:hover::after {
        cursor: pointer;
        transform: scale(1, 1);
    }
}

.darken {
    filter: brightness(0.5);
}

//========================//
// btn style
//========================//
.btn {
    display: block;
    height: 2.5rem;
    cursor: pointer;
    font-weight: 700;
    border-radius: 0;
    border: none;
    transition: ease-in-out 0.3s;
}

.lis {
    line-height: 1.8;
    @include lineEffect(0px);
    width: fit-content;
}
