/*=============================*/
/* navbar styles */
/*=============================*/
.navbar {
    @include flex(space-around);
    width: 100%;
    height: 4.4rem;
    font-size: 0.1rem;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    background: $white;
    position: relative;
    z-index: 5;
    @include border(0, 0, 2px, 0, $gray);

    .logo {
        background-color: $gray;
    }
    a:not([href="index.html"]) {
        @include lineEffect(4px);
    }

    // nabvar first section ========== 01
    .category {
        @include flex(space-between);
        width: 18rem;
        color: $black;

        li {
            @include flex();
        }

        /* a {
            @include lineEffect(4px);
        }*/

        & #new {
            background: $cyan;
            color: white;
            padding: 3px 8px;
            font-weight: 700;
            position: relative;
            bottom: 25px;
            right: 47px;
            letter-spacing: 0.1rem;

            &::after {
                content: "";
                border-style: solid;
                border-width: 8px;
                border-color: $cyan transparent transparent transparent;
                height: 0;
                width: 0;
                position: absolute;
                top: 19px;
                right: 16px;
            }
        }
    }
    // nabvar second section ========== 02
    & .activities {
        @include flex(space-between);
        width: 16rem;

        #log {
            height: 100px;
            display: flex;
        }

        a:first-of-type {
            @include flex();
            flex-direction: column;
        }

        .languges {
            @include flex();
            cursor: pointer;

            img {
                height: 18px;
                margin-right: 5px;
            }
        }

        .bag-logo {
            @include flex();
            font-size: 1.5rem;
            cursor: pointer;

            #items-number {
                background: #f04747f0;
                color: white;
                font-size: 1rem;
                border-radius: 50px;
                padding: 0px 5px;
                align-items: center;
                position: relative;
                bottom: 10px;
                right: 4px;
                font-weight: 700;
            }
        }
    }
}

/*=============================*/
/* MENS Section */
/*=============================*/

.MENS {
    background: white;
    position: absolute;
    transition: ease-in-out 0.3s;
    width: 100%;
    transform: translateY(-102%);
    top: $navHeight;
    z-index: 1;
    @include border(0, 0, 2px, 0, $gray);
}

.mens-items {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.4rem;

    //the lists
    li {
        @extend .lis;
    }

    // items kind
    .discover {
        width: 20rem;
        line-height: 1.8;
        display: flex;
        overflow: hidden;

        .item {
            margin: 0 60px;
            transform: translateX(-200%);
            transition: 0.3s;
        }

        & img {
            width: 100%;
            box-shadow: 1px 4px 22px #9b9b9b;
        }
    }

    .image img {
        height: 100%;
        width: 100%;
    }

    .description {
        font-weight: bold;

        p {
            font-weight: 600;
            word-spacing: 2px;
        }

        .price {
            color: $pink;
        }

        .old-price {
            text-decoration-line: line-through;
        }

        .details {
            cursor: pointer;
            color: $orange;
            display: inline-block;
            letter-spacing: 1px;
            @include lineEffect(0px, $orange);
        }
    }
}

// change the items
.changer {
    @include flex(space-evenly);
    font-size: 1.6rem;
    color: $cyan;
    position: relative;
    top: 10px;
    padding: 2rem 0;

    span {
        height: 13px;
        width: 13px;
        border-radius: 50px;
        border: 1px solid $cyan;
        margin: 0 15px;
        cursor: pointer;
    }

    i {
        cursor: pointer;
    }

    .active {
        background-color: $cyan;
    }
}

/*=============================*/
/* WOMEN Section */
/*=============================*/
.WOMENS {
    width: 35rem;
    left: 6.2rem;
    top: $navHeight;
    background: white;
    position: absolute;
    transition: ease-in-out 0.3s;
    transform: translateY(-102%);
    z-index: 1;
    @include border(0, 1px, 1px, 1px, $gray);
}

.women-items {
    @include flex(space-between, start);

    li {
        @extend .lis;
    }

    .list-one {
        padding-left: 2rem;
    }
}

/*=============================*/
/* ACCESSORIES Section */
/*=============================*/
.ACCESSORIES {
    @extend .WOMENS;
    width: 27rem;
    left: 10rem;

    & .accessories-items {
        @extend .women-items;
    }
}

/*=============================*/
/* DESCOVER Section */
/*=============================*/
.DISCOVER {
    @extend .WOMENS;
    left: 0;
    width: 100%;

    .discover-items {
        display: flex;

        .image {
            width: 100%;
        }

        img {
            height: 16rem;
            width: 100%;
        }
    }

    .more-collection {
        padding: 0px 0 16px;
        text-align: center;
        font-weight: bold;

        a {
            font-size: 0.5rem;
            text-decoration: underline;
        }
    }
}

/*=============================*/
/* LANG Section */
/*=============================*/
.GBP {
    position: absolute;
    background-color: white;
    top: $navHeight;
    right: 10%;
    transition: ease-in-out 0.3s;
    transform: translateY(-102%);
    z-index: 1;
    @include border(0, 1px, 1px, 1px, $gray);

    h3 {
        @include setBack($gray);
        font-size: 0.7rem;
        text-align: center;
        padding: 0.5rem 0;
    }

    .contries {
        width: 7rem;
        text-align: left;
        padding: 11px 15px;
        line-height: 2;

        img {
            height: 0.7rem;
        }

        span {
            cursor: pointer;
            font-size: 0.7rem;
            font-weight: bold;
            display: inline-block;
            @include lineEffect(0px);
        }
    }
}

/*=============================*/
/* log in Section */
/*=============================*/
.LOG {
    position: absolute;
    right: 19%;
    top: $navHeight;
    font-size: 0.8rem;
    transition: ease-in-out 0.3s;
    transform: translateY(-103%);
    z-index: 1;
    @include border(0, 1px, 1px, 1px, $gray);

    h3 {
        background: $gray;
        text-align: center;
        padding: 0.6rem 0;
    }

    .user-info {
        padding: 16px 20px;
        background: $white;
        line-height: 2.2;

        input {
            @extend .input;
        }

        .log-btn {
            @include btn(2rem, 0, none);
            margin: 28px 0;
            width: 100%;
            @include setBack($gray, hover);
        }

        p:nth-last-child(2) {
            text-align: center;
            cursor: pointer;
        }

        button:nth-child(3) {
            @include btn(2rem, 0, none);
            width: 100%;
            @include setBack($black, hover);
        }
    }
}

/*=============================*/
/* slider styles */
/*=============================*/
.slider-goods {
    position: absolute;
    background-color: $white;
    height: 100%;
    width: 40%;
    right: 0;
    transition: ease-in-out 0.3s;
    padding: 13px 14px;
    font-size: 1rem;
    top: $navHeight;
    transform: translateX(100%);
    z-index: 1;
    @include border(2px, 0, 2px, 2px, $gray);

    .cart-status {
        @include flex(space-between);
        span {
            font-size: 1.4rem;

            i:hover {
                transition: ease-in-out 0.3s;
                cursor: pointer;
                color: $danger;
            }
        }
    }
    .empty-card {
        height: 80%;
        @include flex();
    }
}
