/*=============================*/
/* navbar styles */
/*=============================*/
.navbar {
    // @extend .flex;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    font-size: 0.1rem;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    background: white;
    position: relative;
    z-index: 5;

    & .logo {
        background-color: #c8c8c8;
    }

    & ul {
        list-style: none;
    }

    // nabvar first section ========== 01
    & .category {
        @extend .flex;

        li {
            @extend .flex;
        }

        a {
            margin-right: 1rem;
            @include lineEffect(4px);
            color: $black;
            text-decoration: none;
            display: inline-block;
        }

        & #new {
            background: $cyan;
            color: white;
            padding: 3px 8px;
            font-weight: 700;
            position: relative;
            bottom: 25px;
            right: 47px;

            &::after {
                content: "";
                border-style: solid;
                border-width: 8px;
                border-color: $cyan transparent transparent transparent;
                height: 0;
                width: 0;
                position: absolute;
                top: 19px;
                right: 14px;
            }
        }
    }
    // nabvar second section ========== 02
    & .activities {
        @extend .flex;

        a:first-of-type {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        a {
            margin-right: 1rem;
            @include lineEffect(4px);
            color: $black;
            text-decoration: none;
            display: inline-block;
        }

        .languges {
            display: flex;
            margin-right: 19px;
            align-items: center;
            cursor: pointer;

            img {
                height: 18px;
                position: relative;
                display: inline-block;
                right: 6px;
                margin: 0px 0px;
            }
        }

        // #log {
        //     display: flex;
        //     align-items: center;
        // }

        & .bag-logo {
            @extend .flex;
            font-size: 1.5rem;
            width: 40px;
            cursor: pointer;

            & #items-number {
                background: #f04747f0;
                color: white;
                font-size: 1rem;
                border-radius: 50px;
                height: 26px;
                display: flex;
                padding: 9px 7px;
                align-items: center;
                position: relative;
                bottom: 10px;
                right: 4px;
                font-weight: 700;
            }
        }
    }
}

/*=============================*/
/* MENS Section */
/*=============================*/
h4 {
    margin-bottom: 1rem;
}

.MENS {
    background: white;
    position: relative;
    transition: ease-in-out 0.3s;
    transform: translateY(-102%);
}

.mens-items {
    // the main container
    display: flex;
    justify-content: space-evenly;
    font-size: 0.4rem;
    margin: 0;
    position: relative;
    left: 11%;
    // the categories
    & .list-one,
    .list-two,
    .discover {
        display: inline-block;
        list-style: none;
        margin-bottom: 10px;
        align-self: flex-start;
        height: 100%;
    }
    // the headings

    //the lists
    & li {
        line-height: 1.8;
        @include lineEffect(0px);
        width: fit-content;
    }

    // items kind
    .discover {
        width: 20rem;
        line-height: 1.8;
        display: flex;
        overflow: hidden;
    }

    .item {
        margin: 0 60px;
        transform: translateX(-200%);
        transition: 0.3s;
    }

    .discover img {
        width: 100%;
        box-shadow: 1px 4px 22px #9b9b9b;
    }

    .image {
        position: relative;
        @extend .hover-img;
    }

    .image img {
        height: 100%;
        width: 100%;
    }

    .description p {
        font-weight: 600;
        word-spacing: 2px;
    }

    .description .price {
        color: $pink;
        font-weight: bold;
    }

    .description .old-price {
        text-decoration-line: line-through;
    }

    .description .details {
        cursor: pointer;
        font-weight: bold;
        color: $orange;
        display: inline-block;
        letter-spacing: 1px;
        @include lineEffect(0px, $orange);
    }
}

// change the items
.changer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    color: $cyan;
    width: 23%;
    position: relative;
    bottom: 33px;
    left: 31%;

    & span {
        display: inline-block;
        height: 13px;
        width: 13px;
        border-radius: 50px;
        border: 1px solid $cyan;
        margin: 0 15px;
        cursor: pointer;
    }

    & i {
        cursor: pointer;
    }

    .active {
        background-color: $cyan;
    }
}

/*=============================*/
/* WOMEN Section */
/*=============================*/
.WOMENS {
    width: 61%;
    bottom: 408px;
    left: 6.2rem;

    background: white;
    position: relative;
    transition: ease-in-out 0.3s;
    transform: translateY(-102%);
}

.women-items {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & ul {
        list-style: none;
    }

    & li {
        line-height: 1.8;
        @include lineEffect(0px);
        width: fit-content;
    }

    & .list-one {
        padding-left: 2rem;
    }

    & .image {
        position: relative;
        @extend .hover-img;
    }

    & img {
        height: 100%;
    }
}

/*=============================*/
/* ACCESSORIES Section */
/*=============================*/

.ACCESSORIES {
    width: 39%;
    transform: translateY(-102%);
    left: 10rem;
    bottom: 940px;

    background: white;
    position: relative;
    transition: ease-in-out 0.3s;
    transform: translateY(-102%);

    & .accessories-items {
        @extend .women-items;
    }
}

/*=============================*/
/* DESCOVER Section */
/*=============================*/

.DISCOVER {
    background: white;
    position: absolute;
    transition: ease-in-out 0.3s;
    top: 100px;
    // left: 8px;
    width: 100%;
    transform: translateY(-102%);

    background: white;
    transition: ease-in-out 0.3s;

    & .discover-items {
        display: flex;
        justify-content: center;

        & .image {
            position: relative;
            width: 100%;
            @extend .hover-img;
        }

        & img {
            height: 10rem;
            width: 100%;
        }
    }

    .more-collection {
        padding: 8px 0;
        text-align: center;
        font-weight: bold;

        a {
            //@include lineEffect(4px);
            font-size: 0.5rem;
            color: $black;
            text-decoration: underline;
        }
    }
}

/*=============================*/
/* LANG Section */
/*=============================*/
.GBP {
    position: absolute;
    background-color: white;
    top: 103px;
    right: 118px;
    text-align: center;
    transform: translateY(-110%);
    transition: ease-in-out 0.3s;

    // position: relative;
    // float: right;
    // background-color: white;
    // top: 7px;
    // right: 86px;
    // text-align: center;
    // transform: translateY(-110%);
    // transition: ease-in-out 0.3s;

    ul {
        list-style: none;
    }

    h3 {
        background-color: #d9d9d9;
        height: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        font-size: 0.7rem;
    }

    span {
        @include lineEffect(0px);
        cursor: pointer;
        text-align: center;
        display: inline-block;
        font-size: 0.7rem;
        font-weight: bold;
    }

    .contries {
        width: 7rem;
        text-align: left;
        padding: 11px 15px;
        line-height: 2;

        img {
            height: 0.7rem;
        }

        img:nth-child(2) {
            margin-right: 2px;
            width: 3rem;
        }
    }
}

.LOG {
    position: relative;
    float: right;
    top: 0.3rem;
    right: 16rem;
    font-size: 0.9rem;
    transition: ease-in-out 0.3s;
    transform: translateY(-103%);

    h3 {
        background-color: $gray;
        height: 2rem;
        width: 100%;
        text-align: center;
        padding-top: 0.3em;
    }

    .user-info {
        padding: 16px 20px;
        background: white;
        line-height: 2.2;

        input {
            height: 2rem;
            text-align: center;
            font-weight: 600;
            outline: none;
            border-radius: 0;
        }

        .log-btn {
            @extend .btn;
            margin: 28px 0;
            width: 100%;
            @include setBack($gray);
        }

        p:nth-last-child(2) {
            text-align: center;
            cursor: pointer;
        }

        button:nth-child(3) {
            @extend .btn;
            width: 100%;
            @include setBack($black);
        }
    }
}
