/*=========================*/
/* media queries */
/*=========================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

h2 {
  font-family: "Roboto Slab", serif;
}

h4 {
  margin-bottom: 1rem;
}

.current-page {
  font-family: "Roboto Slab", serif;
  width: 100%;
  background-color: #ddd8d8;
  color: #000000;
  text-align: left;
  font-size: 0.8rem;
  position: fixed;
  font-weight: bold;
  padding-left: 12vw;
  top: 4.2rem;
  z-index: 1;
}

.current-page a {
  padding: 3px 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.current-page a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 2px;
  transition: ease-in 0.2s;
}

.current-page a:hover {
  transition: 0.8s;
}

.current-page a:hover::after {
  background-color: #000000;
  width: 100%;
}

footer a {
  width: fit-content;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

footer a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0.2px;
  transition: ease-in 0.2s;
}

footer a:hover {
  transition: 0.8s;
}

footer a:hover::after {
  background-color: #000000;
  width: 100%;
}

.hover-img, .image {
  position: relative;
}

.hover-img::before, .image::before, .hover-img::after, .image::after {
  content: "";
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
}

.hover-img::before, .image::before {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: scale(0, 1);
  transition: transform ease-out 250ms;
  width: 60%;
  margin: auto;
}

.hover-img:hover::before, .image:hover::before {
  cursor: pointer;
  transform: scale(1, 1);
}

.hover-img::after, .image::after {
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scale(1, 0);
  transition: transform ease-out 250ms;
  height: 60%;
  margin: auto;
}

.hover-img:hover::after, .image:hover::after {
  cursor: pointer;
  transform: scale(1, 1);
}

.darken, .sales img:hover {
  filter: brightness(0.9);
}

.lis {
  line-height: 1.8;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.lis::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0px;
  transition: ease-in 0.2s;
}

.lis:hover {
  transition: 0.8s;
}

.lis:hover::after {
  background-color: #000000;
  width: 100%;
}

.input, .sign .my-form input {
  height: 2rem;
  font-weight: 600;
  outline: none;
  border-radius: 0;
  font-style: italic;
  width: 100%;
  letter-spacing: 1px;
  height: 2rem;
  text-align: center;
}

.form-anim ~ .focus-border:before,
.form-anim ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: 0.2s;
  transition-delay: 0.2s;
}

.form-anim ~ .focus-border:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}

.form-anim ~ .focus-border i:before,
.form-anim ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #000000;
  transition: 0.2s;
}

.form-anim ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}

.form-anim:focus ~ .focus-border:before,
.form-anim:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}

.form-anim:focus ~ .focus-border:after {
  transition-delay: 0.2s;
}

.form-anim:focus ~ .focus-border i:before,
.form-anim:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.2s;
}

.form-anim:focus ~ .focus-border i:after {
  transition-delay: 0.4s;
}

/*=============================*/
/* landing-page styles */
/*=============================*/
.landing-page {
  background: url("../img/WinterSale_HomepageBanner_v3.webp") center/cover no-repeat;
  height: 100vh;
  position: relative;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.landing-page .buy-now {
  background-color: #000000;
  color: #f4f4f4;
  text-align: center;
  font-weight: 600;
  padding: 13px 0;
  font-size: 0.4rem;
}

.landing-page .buy-now a {
  color: white;
  text-decoration: underline;
}

/*=============================*/
/* shop btns styles styles */
/*=============================*/
.shop-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
}

@media (max-width: 800px) {
  .shop-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 440px) {
  .shop-btn {
    font-size: 0.6rem;
  }
}

.shop-btn button {
  background-color: white;
  color: #000000;
  display: block;
  height: 2.8rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #000000;
  transition: ease-in-out 0.3s;
  padding: 0 20px;
  letter-spacing: 1.5px;
}

.shop-btn button:hover {
  background-color: #000000;
  color: white;
}

/*=============================*/
/*mens && womens items */
/*=============================*/
.mens-womens {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2);
  margin: auto;
  text-align: center;
  justify-items: center;
  align-items: center;
  line-height: 2;
  position: relative;
  grid-row-gap: 4rem;
  overflow: hidden;
  /*=================media queries=============*/
}

@media (max-width: 1200px) {
  .mens-womens {
    grid-row-gap: 0;
  }
}

.mens-womens p,
.mens-womens button {
  font-family: "Roboto Slab", serif;
}

.mens-womens img {
  height: 25vw;
  border-radius: 2px;
  box-shadow: 7px 1px 8px #ddd8d8;
}

@media (max-width: 1200px) {
  .mens-womens img {
    width: 45vw;
    height: 50vw;
    margin: 0 1rem;
  }
}

.mens-womens .men-pic,
.mens-womens .women-pic {
  display: flex;
  justify-content: space-between;
  transition: ease-in-out 0.3s;
  position: relative;
}

@media (max-width: 1200px) {
  .mens-womens .men-pic,
  .mens-womens .women-pic {
    transform: translateX(-0.5%);
    overflow: hidden;
  }
}

@media (max-width: 440px) {
  .mens-womens .men-pic,
  .mens-womens .women-pic {
    transform: translateX(-0.5%);
  }
}

.mens-womens .model {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  cursor: pointer;
}

@media (max-width: 440px) {
  .mens-womens .model {
    font-size: 0.1rem;
  }
}

.mens-womens .model img {
  margin: 0 0.6rem;
}

@media (max-width: 440px) {
  .mens-womens .model img {
    margin: 0 6px;
  }
}

.mens-womens .model img:hover {
  transition: ease-in-out 0.2s;
  padding: 0.4rem;
}

.mens-womens .model .des {
  line-height: 2;
}

.mens-womens .model .des .prix {
  display: block;
  color: #ff8600;
  font-weight: bold;
}

.mens-womens .title-one,
.mens-womens .title-two {
  padding: 2rem 0;
  line-height: 3;
}

.mens-womens .title-two button {
  background-color: white;
  color: #000000;
  display: block;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 2px;
  border: 1px solid #000000;
  transition: ease-in-out 0.3s;
  padding: 0 20px;
  letter-spacing: 1.5px;
}

.mens-womens .title-two button:hover {
  background-color: #000000;
  color: white;
}

.mens-womens .arrow-right {
  position: absolute;
  left: 92%;
  top: 25%;
  font-size: 3rem;
  z-index: 1;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .mens-womens .arrow-right {
    font-size: 1.5rem;
    top: 30%;
  }
}

@media (max-width: 440px) {
  .mens-womens .arrow-right {
    top: 35%;
  }
}

.mens-womens .arrow-left {
  position: absolute;
  right: 92%;
  top: 25%;
  font-size: 3rem;
  z-index: 1;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .mens-womens .arrow-left {
    font-size: 1.5rem;
    top: 30%;
  }
}

@media (max-width: 440px) {
  .mens-womens .arrow-left {
    top: 35%;
  }
}

.mens-womens .second-left-arrow,
.mens-womens .second-right-arrow {
  top: 78%;
}

@media (max-width: 800px) {
  .mens-womens .second-left-arrow,
  .mens-womens .second-right-arrow {
    top: 82%;
  }
}

@media (max-width: 1200px) {
  .mens-womens .arrow-right,
  .mens-womens .arrow-left {
    display: inline-block;
  }
}

/*=============================*/
/*quote */
/*=============================*/
.quote {
  padding: 3rem 4rem;
  line-height: 2;
  text-align: center;
  /*=================media queries=============*/
}

@media (max-width: 800px) {
  .quote {
    padding: 0rem 0.8rem 4rem;
  }
}

.quote q {
  font-weight: lighter;
  font-style: italic;
  color: #787878;
}

.quote strong {
  display: block;
  font-family: "Roboto Slab", serif;
}

/*=============================*/
/* Agile sezction */
/*=============================*/
.agile {
  background-image: url(https://cdn11.bigcommerce.com/s-iyqvgyco/images/stencil/1920x1920/h/mens-tanks-cat-header__16092.original.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5rem 5rem;
  line-height: 2.5;
  display: flex;
  align-items: center;
  /*=================media queries=============*/
}

@media (max-width: 800px) {
  .agile {
    padding: 5rem 0;
    text-align: center;
  }
}

@media (max-width: 440px) {
  .agile {
    font-size: 0.8rem;
    padding: 2rem 0;
  }
}

.agile .agil-content {
  padding-left: 10%;
  width: 50%;
}

@media (max-width: 1200px) {
  .agile .agil-content {
    padding-left: 0;
    width: 100%;
  }
}

.agile .agil-content p {
  font-size: 0.8rem;
  font-style: italic;
}

.agile .agil-content button {
  margin-top: 5px;
  background-color: transparent;
  color: white;
  display: block;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 2px;
  border: 2px solid white;
  transition: ease-in-out 0.3s;
  padding: 0 20px;
  letter-spacing: 1.5px;
}

.agile .agil-content button:hover {
  background-color: white;
  color: #000000;
}

@media (max-width: 800px) {
  .agile .agil-content button {
    margin: auto;
  }
}

/*=============================*/
/* sales sezction */
/*=============================*/
.sales {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6rem 0 4rem 0;
  line-height: 2;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 800px) {
  .sales {
    display: block;
  }
}

@media (max-width: 440px) {
  .sales {
    font-size: 0.8rem;
  }
}

.sales img {
  transition: ease-in-out 0.3s;
  height: 43vw;
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .sales img {
    height: 80vw;
  }
}

.sales img:hover {
  filter: drop-shadow(23px 14px 16px #606363);
  padding: 10px 0;
}

.sales .mens-sales,
.sales .womens-sales {
  text-align: center;
}

.sales .mens-sales a,
.sales .womens-sales a {
  display: block;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  letter-spacing: 1.8px;
  cursor: pointer;
  position: relative;
  width: fit-content;
  margin: auto;
}

.sales .mens-sales a::after,
.sales .womens-sales a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: -3px;
  transition: ease-in 0.2s;
}

.sales .mens-sales a:hover,
.sales .womens-sales a:hover {
  transition: 0.8s;
}

.sales .mens-sales a:hover::after,
.sales .womens-sales a:hover::after {
  background-color: #000000;
  width: 100%;
}

/*=============================*/
/* Features section */
/*=============================*/
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  /*=================media queries=============*/
}

.features .feature {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 13rem;
  width: 20%;
  text-align: center;
}

.features .feature h3 {
  font-family: "Roboto Slab", serif;
  text-transform: capitalize;
}

.features .feature h3::before {
  content: "";
  display: block;
  height: 2px;
  width: 3rem;
  background-color: #ddd8d869;
  position: relative;
  bottom: 21px;
  margin: auto;
  border-radius: 3px;
}

.features .feature p {
  color: #787878;
  font-size: 0.7rem;
  font-style: italic;
  letter-spacing: 1px;
}

@media (max-width: 1200px) {
  .features .feature p {
    width: 80%;
    margin-bottom: 1rem;
  }
}

.features img {
  height: 3rem;
  text-align: center;
  width: 100%;
  padding-left: 43%;
}

@media (max-width: 1200px) {
  .features .feature {
    width: 40%;
  }
  .features .feature:nth-child(3n - 2) {
    background-color: #f1f1f1;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  .features .feature {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 440px) {
  .features .feature {
    width: 100%;
  }
}

/*=============================*/
/* sign up section */
/*=============================*/
.sign {
  padding: 2rem 0;
  background: #f4f4f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*=================media queries=============*/
}

@media (max-width: 1200px) {
  .sign {
    display: block;
    text-align: center;
  }
}

.sign .sign-title {
  font-size: 1.5rem;
  line-height: 2;
}

.sign .sign-title strong {
  font-weight: bolder;
  text-shadow: 2px 1px 6px #3d0000;
  font-size: 2.5rem;
}

.sign .sign-title p {
  font-style: italic;
}

.sign .my-form {
  position: relative;
  width: 38%;
}

@media (max-width: 1200px) {
  .sign .my-form {
    margin: 2rem auto;
    width: 52%;
  }
}

@media (max-width: 1200px) {
  .sign .my-form {
    width: 80%;
  }
}

.sign .my-form input {
  border-top: solid 0 black;
  border-right: solid 0 black;
  border-bottom: solid 1px black;
  border-left: solid 0 black;
}

.sign button {
  display: block;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 2px;
  border: 1px solid #000000;
  transition: ease-in-out 0.3s;
  padding: 0 20px;
  letter-spacing: 1.5px;
  background-color: #000000;
  color: #f4f4f4;
}

.sign button:hover {
  background-color: #f4f4f4;
  color: #000000;
}

@media (max-width: 1200px) {
  .sign button {
    margin: auto;
  }
}

/*=========================================*/
/* main styles */
/*=========================================*/
/*# sourceMappingURL=mainPage.css.map */