/*=========================*/
/* media queries */
/*=========================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

h2 {
  font-family: "Roboto Slab", serif;
}

h4 {
  margin-bottom: 1rem;
}

.current-page {
  font-family: "Roboto Slab", serif;
  width: 100%;
  background-color: #ddd8d8;
  color: #000000;
  text-align: left;
  font-size: 0.8rem;
  position: fixed;
  font-weight: bold;
  padding-left: 12vw;
  top: 4.2rem;
  z-index: 1;
}

.current-page a {
  padding: 3px 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.current-page a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 2px;
  transition: ease-in 0.2s;
}

.current-page a:hover {
  transition: 0.8s;
}

.current-page a:hover::after {
  background-color: #000000;
  width: 100%;
}

footer a {
  width: fit-content;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

footer a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0.2px;
  transition: ease-in 0.2s;
}

footer a:hover {
  transition: 0.8s;
}

footer a:hover::after {
  background-color: #000000;
  width: 100%;
}

.hover-img, .image {
  position: relative;
  height: 100%;
}

.hover-img::before, .image::before, .hover-img::after, .image::after {
  content: "";
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
}

.hover-img::before, .image::before {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: scale(0, 1);
  transition: transform ease-out 250ms;
  width: 60%;
  margin: auto;
}

.hover-img:hover::before, .image:hover::before {
  cursor: pointer;
  transform: scale(1, 1);
}

.hover-img::after, .image::after {
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scale(1, 0);
  transition: transform ease-out 250ms;
  height: 60%;
  margin: auto;
}

.hover-img:hover::after, .image:hover::after {
  cursor: pointer;
  transform: scale(1, 1);
}

.darken {
  filter: brightness(0.9);
}

.lis, .mens-items li, .women-items li, .ACCESSORIES .accessories-items li {
  font-size: 0.7em;
  line-height: 1.8;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.lis::after, .mens-items li::after, .women-items li::after, .ACCESSORIES .accessories-items li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0px;
  transition: ease-in 0.2s;
}

.lis:hover, .mens-items li:hover, .women-items li:hover, .ACCESSORIES .accessories-items li:hover {
  transition: 0.8s;
}

.lis:hover::after, .mens-items li:hover::after, .women-items li:hover::after, .ACCESSORIES .accessories-items li:hover::after {
  background-color: #000000;
  width: 100%;
}

.input, .LOG .user-info input {
  height: 2rem;
  font-weight: 600;
  outline: none;
  border-radius: 0;
  font-style: italic;
  width: 100%;
  letter-spacing: 1px;
  height: 2rem;
  text-align: center;
}

.form-anim ~ .focus-border:before,
.form-anim ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: 0.2s;
  transition-delay: 0.2s;
}

.form-anim ~ .focus-border:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}

.form-anim ~ .focus-border i:before,
.form-anim ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #000000;
  transition: 0.2s;
}

.form-anim ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}

.form-anim:focus ~ .focus-border:before,
.form-anim:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}

.form-anim:focus ~ .focus-border:after {
  transition-delay: 0.2s;
}

.form-anim:focus ~ .focus-border i:before,
.form-anim:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.2s;
}

.form-anim:focus ~ .focus-border i:after {
  transition-delay: 0.4s;
}

/*=============================*/
/* navbar styles */
/*=============================*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4.4rem;
  font-size: 0.7em;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  background: white;
  position: fixed;
  z-index: 10;
  border-top: solid 0 #ddd8d8;
  border-right: solid 0 #ddd8d8;
  border-bottom: solid 2px #ddd8d8;
  border-left: solid 0 #ddd8d8;
  /*=================media queries=============*/
}

.navbar .humberg {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
  margin-right: 1rem;
}

@media (max-width: 440px) {
  .navbar .humberg {
    margin: 0 0.3rem;
  }
}

.navbar .search-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .query-icons {
  display: flex;
}

.navbar .user-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 440px) {
  .navbar .user-icon {
    margin: 0 0.3rem;
  }
}

.navbar .logo {
  background-color: #ddd8d8;
}

.navbar .logo img {
  height: 3rem;
}

@media (max-width: 440px) {
  .navbar .logo img {
    height: 1.4rem;
  }
}

.navbar a:not([href="index.html"]) {
  cursor: pointer;
  position: relative;
}

.navbar a:not([href="index.html"])::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 4px;
  transition: ease-in 0.2s;
}

.navbar a:not([href="index.html"]):hover {
  transition: 0.8s;
}

.navbar a:not([href="index.html"]):hover::after {
  background-color: #000000;
  width: 100%;
}

.navbar .category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  color: #000000;
}

.navbar .category li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .category #new {
  background: #00a7a7ce;
  color: white;
  padding: 3px 8px;
  font-weight: 700;
  position: relative;
  bottom: 25px;
  right: 60px;
  border-radius: 4px;
  letter-spacing: 0.1rem;
}

.navbar .activities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
}

.navbar .activities .languges {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar .activities .languges img {
  height: 18px;
  margin-right: 5px;
}

.navbar .bag-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar .bag-logo #items-number {
  background: #d9534f;
  color: white;
  font-size: 1rem;
  border-radius: 50px;
  padding: 0px 5px;
  align-items: center;
  position: relative;
  bottom: 10px;
  right: 4px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .navbar {
    background-color: white;
  }
  .navbar .humberg,
  .navbar .search-icon {
    display: block;
  }
  .navbar .category,
  .navbar .activities {
    display: none;
  }
  .navbar .query-icons {
    display: flex;
  }
  .navbar .user-icon {
    display: inline-block;
  }
}

/*=============================*/
/* MENS Section */
/*=============================*/
.MENS {
  background: white;
  position: fixed;
  transition: ease-in-out 0.3s;
  width: 100%;
  transform: translateY(-135%);
  z-index: 2;
  top: 4.4rem;
  border-top: solid 0 #ddd8d8;
  border-right: solid 0 #ddd8d8;
  border-bottom: solid 2px #ddd8d8;
  border-left: solid 0 #ddd8d8;
}

.mens-items {
  display: flex;
  justify-content: space-evenly;
  font-size: 17px;
}

.mens-items .discover {
  width: 489px;
  line-height: 1.8;
  display: flex;
  overflow: hidden;
}

.mens-items .discover .item {
  margin: 0 60px;
  transform: translateX(-200%);
  transition: 0.3s;
}

.mens-items .discover img {
  width: 100%;
  box-shadow: 1px 4px 22px #9b9b9b;
}

.mens-items .image img {
  height: 100%;
  width: 100%;
}

.mens-items .description {
  font-weight: bold;
}

.mens-items .description p {
  font-weight: 600;
  word-spacing: 2px;
}

.mens-items .description .price {
  color: lightcoral;
}

.mens-items .description .old-price {
  text-decoration-line: line-through;
}

.mens-items .description .details {
  cursor: pointer;
  color: #ff8600;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.mens-items .description .details::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0px;
  transition: ease-in 0.2s;
}

.mens-items .description .details:hover {
  transition: 0.8s;
}

.mens-items .description .details:hover::after {
  background-color: #ff8600;
  width: 100%;
}

.changer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  color: #00a7a7ce;
  position: relative;
  top: 10px;
  padding: 2rem 0;
}

.changer span {
  height: 13px;
  width: 13px;
  border-radius: 50px;
  border: 1px solid #00a7a7ce;
  margin: 0 15px;
  cursor: pointer;
}

.changer i {
  cursor: pointer;
}

.changer .active {
  background-color: #00a7a7ce;
}

/*=============================*/
/* WOMEN Section */
/*=============================*/
.WOMENS, .ACCESSORIES, .DISCOVER {
  z-index: 2;
  width: 35rem;
  left: 6.2rem;
  top: 4.4rem;
  background: white;
  position: fixed;
  transition: ease-in-out 0.3s;
  transform: translateY(-130%);
  border-top: solid 0 #ddd8d8;
  border-right: solid 1px #ddd8d8;
  border-bottom: solid 1px #ddd8d8;
  border-left: solid 1px #ddd8d8;
}

.women-items, .ACCESSORIES .accessories-items {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.women-items .list-one, .ACCESSORIES .accessories-items .list-one {
  padding-left: 2rem;
}

/*=============================*/
/* ACCESSORIES Section */
/*=============================*/
.ACCESSORIES {
  width: 27rem;
  left: 10rem;
}

/*=============================*/
/* DESCOVER Section */
/*=============================*/
.DISCOVER {
  left: 0;
  width: 100%;
}

.DISCOVER .discover-items {
  display: flex;
}

.DISCOVER .discover-items .image {
  width: 100%;
}

.DISCOVER .discover-items img {
  height: 10rem;
  width: 100%;
}

.DISCOVER .more-collection {
  padding: 0px 0 16px;
  text-align: center;
  font-weight: bold;
}

.DISCOVER .more-collection a {
  font-size: 0.5rem;
  text-decoration: underline;
}

/*=============================*/
/* LANG Section */
/*=============================*/
.GBP {
  z-index: 2;
  position: fixed;
  background-color: white;
  top: 4.4rem;
  right: 10%;
  transition: ease-in-out 0.3s;
  transform: translateY(-130%);
  border-top: solid 0 #ddd8d8;
  border-right: solid 1px #ddd8d8;
  border-bottom: solid 1px #ddd8d8;
  border-left: solid 1px #ddd8d8;
}

.GBP h3 {
  background-color: #ddd8d8;
  color: #000000;
  font-size: 0.7rem;
  text-align: center;
  padding: 0.5rem 0;
}

.GBP .contries {
  width: 7rem;
  text-align: left;
  padding: 11px 15px;
  line-height: 2;
}

.GBP .contries img {
  height: 0.7rem;
}

.GBP .contries span {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.GBP .contries span::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0px;
  transition: ease-in 0.2s;
}

.GBP .contries span:hover {
  transition: 0.8s;
}

.GBP .contries span:hover::after {
  background-color: #000000;
  width: 100%;
}

/*=============================*/
/* log in Section */
/*=============================*/
.LOG {
  position: fixed;
  right: 28%;
  top: 4.4rem;
  font-size: 0.8rem;
  transition: ease-in-out 0.3s;
  transform: translateY(-130%);
  z-index: 2;
  border-top: solid 0 #ddd8d8;
  border-right: solid 1px #ddd8d8;
  border-bottom: solid 1px #ddd8d8;
  border-left: solid 1px #ddd8d8;
}

@media (max-width: 1200px) {
  .LOG {
    width: 100%;
    right: 0;
  }
}

.LOG h3 {
  background: #ddd8d8;
  text-align: center;
  padding: 0.6rem 0;
}

.LOG .user-info {
  padding: 16px 20px;
  background: white;
  line-height: 2.2;
  border-bottom: 2px solid #787878;
}

@media (max-width: 1200px) {
  .LOG .user-info form {
    width: 80%;
    margin: auto;
  }
}

.LOG .user-info .log-btn {
  display: block;
  height: 2rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 0;
  border: none;
  transition: ease-in-out 0.3s;
  padding: 0 20px;
  letter-spacing: 1.5px;
  margin: 28px 0;
  width: 100%;
  background-color: #ddd8d8;
  color: #000000;
}

.LOG .user-info .log-btn:hover {
  background-color: #000000;
  color: #ddd8d8;
}

.LOG .user-info p:nth-last-child(2) {
  text-align: center;
  cursor: pointer;
}

.LOG .user-info button:nth-child(3) {
  display: block;
  height: 2rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 0;
  border: none;
  transition: ease-in-out 0.3s;
  padding: 0 20px;
  letter-spacing: 1.5px;
  width: 100%;
  background-color: #000000;
  color: #f4f4f4;
}

.LOG .user-info button:nth-child(3):hover {
  background-color: #f4f4f4;
  color: #000000;
}

.show-log {
  transform: translateY(0);
}

/*=============================*/
/* slider styles */
/*=============================*/
.slider-goods {
  background-color: #0707075e;
  line-height: 2;
  width: 100%;
  position: fixed;
  height: 100%;
  padding: 0 0rem;
  transform: translateX(100%);
  z-index: 50;
  transition: ease-in-out 0.3s;
  font-size: 1rem;
}

.slider-goods .cart-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-goods .cart-status p:nth-child(2) {
  border-radius: 50px;
  padding: 0 0.5em;
  font-weight: 600;
  font-size: 0.8em;
  height: 1.6em;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
}

.slider-goods .item-section {
  background-color: white;
  padding: 0 1rem;
  height: 100%;
  width: 40%;
  margin-left: auto;
  overflow: auto;
}

.slider-goods .item-section .chart-items-container {
  border: 1px solid black;
  margin: 0.2em 0;
  position: relative;
}

.slider-goods .item-section .chart-items-container .btns-section {
  text-align: center;
}

.slider-goods .item-section .chart-items-container .btns-section .buy-item {
  display: block;
  height: 2em;
  cursor: pointer;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  transition: ease-in-out 0.3s;
  padding: 0 20px;
  letter-spacing: 1.5px;
  background-color: #000000;
  color: #f4f4f4;
  display: inline-block;
  font-size: 0.6em;
}

.slider-goods .item-section .chart-items-container .btns-section .buy-item:hover {
  background-color: #f4f4f4;
  color: #000000;
}

.slider-goods .item-section .chart-items-container .btns-section .remove-item {
  display: block;
  height: 2em;
  cursor: pointer;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  transition: ease-in-out 0.3s;
  padding: 0 20px;
  letter-spacing: 1.5px;
  background-color: #d9534f;
  color: #f4f4f4;
  display: inline-block;
  font-size: 0.6em;
}

.slider-goods .item-section .chart-items-container .btns-section .remove-item:hover {
  background-color: #f4f4f4;
  color: #d9534f;
}

.slider-goods .item-section .cls-item-btn {
  position: absolute;
  padding: 0 0.3em;
  top: 0px;
  right: 0.5em;
  font-size: 1.2em;
}

.slider-goods .item-section .chart-item {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.slider-goods .item-section .chart-item .chart-item-info {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 0 0.5em 0;
}

.slider-goods .item-section .chart-item .chart-item-info .quantity-form {
  font-size: 0.9em;
  font-weight: 700;
}

.slider-goods .item-section .chart-item .chart-item-info input {
  width: 4em;
  outline: none;
  border-color: #00a7a7ce;
  border-radius: 50%;
  height: 3em;
  text-align: center;
  font-weight: 700;
}

.slider-goods .item-section .chart-item .chart-item-info .item-price {
  font-size: 0.9em;
  align-self: flex-end;
  color: #ff8600;
  font-weight: 700;
}

.slider-goods .item-section .chart-item .chart-item-info .total-price {
  font-size: 0.9em;
  align-self: flex-end;
  color: #00a7a7ce;
  font-weight: 700;
}

.slider-goods .item-section .chart-item-img {
  height: 6em;
}

@media (max-width: 1200px) {
  .slider-goods .item-section {
    width: 65%;
  }
}

@media (max-width: 800px) {
  .slider-goods .item-section {
    width: 90%;
  }
}

@media (max-width: 440px) {
  .slider-goods {
    font-size: 0.8em;
  }
  .slider-goods .item-section {
    width: 100%;
  }
}

.cls-btn {
  font-size: 1.4rem;
}

.cls-btn i:hover {
  transition: ease-in-out 0.3s;
  cursor: pointer;
  color: #d9534f;
}

/*=============================*/
/* menu-list styles */
/*=============================*/
.menu-list {
  background-color: #0707075e;
  line-height: 2;
  width: 100%;
  position: fixed;
  height: 100%;
  padding: 0 0rem;
  transform: translateX(-100%);
  z-index: 50;
  transition: ease-in-out 0.3s;
  font-size: 1rem;
}

.menu-list .cls-btn {
  width: 100%;
  display: block;
  text-align: end;
}

.menu-list .menu-section {
  background-color: white;
  padding: 0 1rem;
  font-size: 0.8rem;
}

.menu-list .menu-section ul li {
  border-bottom: 2px solid #d2d2d2;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 11px;
  border-radius: 2px;
}

.menu-list .menu-section ul li:hover {
  color: white;
  background-color: #000000;
}

.menu-list .menu-section ul li:hover a {
  color: white;
}

.menu-list .menu-section ul li img {
  height: 25px;
  margin-right: 7px;
}

.menu-list .menu-contries {
  overflow: hidden;
  height: 0rem;
  transition: 0.3s;
  background-color: #f4f4f4;
}

.menu-list .menu-contries li {
  font-weight: bold;
}

.menu-list .show-lang {
  height: 15rem;
  padding-left: 3rem;
}

.menu-list .new {
  background-color: #00a7a7ce;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  margin-left: 17px;
  position: relative;
  border-radius: 2px;
}

@media (max-width: 1200px) {
  .menu-list {
    display: flex;
  }
  .menu-section {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .menu-section {
    width: 90%;
  }
}

@media (max-width: 440px) {
  .menu-section {
    width: 100%;
  }
}
/*# sourceMappingURL=navbar.css.map */