//========================//
// input style
//========================//
.input {
    height: 2rem;
    font-weight: 600;
    outline: none;
    border-radius: 0;
    font-style: italic;
    width: 100%;
    letter-spacing: 1px;
    height: 2rem;
    text-align: center;
}

.form-anim ~ .focus-border:before,
.form-anim ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $black;
    transition: 0.2s;
    transition-delay: 0.2s;
}
.form-anim ~ .focus-border:after {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    transition-delay: 0.6s;
}
.form-anim ~ .focus-border i:before,
.form-anim ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: $black;
    transition: 0.2s;
}
.form-anim ~ .focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0.4s;
}
.form-anim:focus ~ .focus-border:before,
.form-anim:focus ~ .focus-border:after {
    width: 100%;
    transition: 0.2s;
    transition-delay: 0.6s;
}
.form-anim:focus ~ .focus-border:after {
    transition-delay: 0.2s;
}
.form-anim:focus ~ .focus-border i:before,
.form-anim:focus ~ .focus-border i:after {
    height: 100%;
    transition: 0.2s;
}
.form-anim:focus ~ .focus-border i:after {
    transition-delay: 0.4s;
}

footer {
    display: grid;
    grid-template-areas:
        "social about help page sign  "
        "physiq .  . sponsors sponsors  ";
    grid-gap: 4rem 2rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    line-height: 2;
    width: 85vw;
    margin: auto;
    font-size: 0.8rem;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;

    @include small {
        grid-gap: 2rem 2rem;
    }

    @include medium {
        grid-template-areas:
            "social about  help"
            "page sign  sign  "
            "physiq  sponsors sponsors";
    }

    @include small {
        grid-template-areas:
            "social  social"
            "about  about"
            "page  help"
            "sign  sign"
            "sponsors  sponsors"
            "physiq physiq";
    }

    .social-icons {
        grid-area: social;
        font-size: 1.2rem;
        text-align: center;
        img {
            width: 100%;

            @include small {
                width: 60%;
            }
        }

        i:hover {
            transition: ease-in-out 0.3s;
            cursor: pointer;
            color: $danger;
        }

        @include medium {
            font-size: 1.8rem;
        }
    }

    .about-us {
        grid-area: about;
    }

    .help {
        grid-area: help;
    }

    .page {
        grid-area: page;
    }
    .sign-up {
        grid-area: sign;
        font-weight: 700;
        background: $back-light;
        padding: 1rem;
        border-radius: 2px;

        @include large {
            width: 23vw;
        }

        .my-form {
            margin: 2rem 0;
            position: relative;
            width: 100%;
        }

        input {
            @extend .input;
            @include border(1px, 1px, 1px, 1px, rgb(163, 163, 163));
        }

        button {
            @include btn(1.5rem);
            @include setBack($black, hover);

            @include small {
                margin: auto;
            }
        }
    }

    .physic {
        grid-area: physiq;
        font-weight: bold;

        @include medium {
            width: 100%;
            text-align: center;
        }
    }
    .sponsors {
        grid-area: sponsors;
        text-align: center;

        img {
            height: 0.8rem;
            margin-right: 0.5rem;
        }
    }
}
