footer {
    display: grid;
    grid-template-areas:
        "social about help page sign  "
        "physiq .  . sponsors sponsors  ";
    grid-gap: 4rem 2rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    line-height: 2;
    width: 85vw;
    margin: auto;
    font-size: 0.8rem;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;

    @include small {
        grid-gap: 2rem 2rem;
    }

    @include medium {
        grid-template-areas:
            "social about  help"
            "page sign  sign  "
            "physiq  sponsors sponsors";
    }

    @include small {
        grid-template-areas:
            "social  social"
            "about  about"
            "page  help"
            "sign  sign"
            "sponsors  sponsors"
            "physiq physiq";
    }

    .social-icons {
        grid-area: social;
        font-size: 1.2rem;
        text-align: center;
        //   width: 16vw;
        img {
            width: 100%;

            @include small {
                width: 60%;
            }
        }

        i:hover {
            transition: ease-in-out 0.3s;
            cursor: pointer;
            color: $danger;
        }

        @include medium {
            font-size: 1.8rem;
        }
    }

    .about-us {
        grid-area: about;
    }

    .help {
        grid-area: help;
    }

    .page {
        grid-area: page;
    }
    .sign-up {
        grid-area: sign;
        font-weight: 700;
        background: $back-light;
        padding: 1rem;
        border-radius: 2px;

        @include large {
            width: 23vw;
        }

        .my-form {
            margin: 2rem 0;
            position: relative;
            width: 100%;
        }

        input {
            @extend .input;
            @include border(1px, 1px, 1px, 1px, rgb(163, 163, 163));
        }

        button {
            @include btn(1.5rem);
            @include setBack($black, hover);

            @include small {
                margin: auto;
            }
        }
    }

    .physic {
        grid-area: physiq;
        font-weight: bold;

        @include medium {
            width: 100%;
            text-align: center;
        }
    }
    .sponsors {
        grid-area: sponsors;
        text-align: center;

        img {
            height: 0.8rem;
            margin-right: 0.5rem;
        }
    }

    /*=================media queries=============*/
}
