/*=============================*/
/* content */
/*=============================*/
.items-container {
    padding: 3em 1em;
    position: relative;
    top: 3em;
    margin-bottom: 3em;
    min-height: 46em;

    .section-title {
        @include flex(space-around);
        line-height: 2;

        .description {
            font-size: 0.8rem;
            @include small {
                width: 100vw;
            }
        }

        fieldset {
            font-size: 0.8rem;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;

            @include medium {
                width: 100%;
            }

            @include small {
                display: flex;
                flex-direction: column;
                width: 60%;
            }
            select {
                transition: ease-in-out 0.3s;
                border-radius: 4px;

                margin: 0 1rem;
                border: none;
                outline: none;
                @include setBack($black, hover);
                cursor: pointer;
            }
        }

        @include medium {
            text-align: center;
            flex-direction: column;
            height: 15em;
        }
    }

    .items-tabel {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(4, auto);
        text-align: center;
        line-height: 2;
        margin: 4rem 0;

        @include medium {
            grid-template-columns: repeat(3, auto);
        }

        @include small {
            grid-template-columns: repeat(2, auto);
        }

        @include mobile {
            grid-template-columns: repeat(1, auto);
        }

        .single-item {
            @include mobile {
                flex-direction: column;
                width: 75%;
                margin: auto;
            }

            .img {
                position: relative;
            }

            .overlay-msg {
                background-color: rgba(0, 0, 0, 0.227);
                transition: ease-in-out 0.3s;
                position: absolute;
                top: 0;
                left: 0;
                font-weight: 700;
                color: $white;
                height: 100%;
                width: 100%;
                border-radius: 2px;
                font-size: 0.1em;
                line-height: 10;
                cursor: pointer;
                opacity: 0;
            }

            .item-info {
                display: flex;
                flex-direction: column;
                text-align: start;
                margin-left: 2em;
                padding: 0.5em;
                border-radius: 8px;
                margin: auto;

                @include medium {
                    text-align: center;
                }

                .item-desc {
                    font-style: italic;
                    background: #f4f4f4;
                    padding-left: 0.5em;
                    border-radius: 2px;

                    @include medium {
                        font-size: 0.6rem;
                    }
                }
            }

            .prix {
                color: $orange;
                font-weight: bold;
                align-self: flex-end;
                text-decoration: underline;
            }

            img {
                box-shadow: 7px 1px 8px $gray;
                cursor: pointer;
                border-radius: 2px;
                width: 100%;
                height: 100%;
            }

            .img:hover .overlay-msg {
                opacity: 1;
                font-size: 1.2rem;

                @include medium {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img {
        @include small {
            width: 40%;
        }

        @include mobile {
            width: 80%;
        }
    }

    @include small {
        flex-direction: column;
        width: 100% !important;
    }

    @include medium {
        padding: 1em 0;
    }
}

/*=============================*/
/* pagination */
/*=============================*/

.pagination {
    font-family: "Roboto Slab", serif;

    width: 100%;
    text-align: center;

    .numbers {
        display: inline-block;

        .page-number {
            padding: 6px 10px;
            font-weight: 700;
            margin: 0 4px;
            border: none;
            border-radius: 7px;
            cursor: pointer;
            transition: ease-in-out 0.3s;
            color: $gray;

            &:hover {
                text-decoration: underline;
            }
        }

        .black-focus {
            color: $black;
        }
    }

    .pagination-left,
    .pagination-right {
        padding: 6px 10px;
        font-weight: 700;
        margin: 0 4px;
        outline: none;
        border: none;
        border-radius: 7px;
        transition: ease-in-out 0.3s;
        color: $gray;
        background: transparent;
    }

    .black-focus {
        color: $black;
        cursor: pointer;
    }
}
