/*=============================*/
/* slider styles */
/*=============================*/
.slider-goods {
    background-color: #0707075e;
    line-height: 2;
    width: 100%;
    position: fixed;
    height: 100%;
    padding: 0 0rem;
    transform: translateX(100%);
    z-index: 50;
    transition: ease-in-out 0.3s;
    font-size: 1rem;

    @include small {
        font-size: 0.6rem;
    }

    .cart-status {
        @include flex(space-between);

        & p:nth-child(2) {
            border-radius: 50px;
            padding: 0 0.5em;
            font-weight: 600;
            font-size: 0.8em;
            height: 1.6em;
            display: flex;
            align-items: center;
            background-color: $back-light;
        }
    }

    .item-section {
        background-color: $white;
        padding: 0 1rem;
        height: 100%;
        width: 40%;
        margin-left: auto;
        overflow: auto;

        .chart-items-container {
            border: 1px solid black;
            margin: 0.2em 0;
            .btns-section {
                text-align: center;

                .buy-item {
                    @include btn(2em, 2px, none);
                    @include setBack($black, hover);
                    display: inline-block;
                    font-size: 0.6em;
                }

                .remove-item {
                    @include btn(2em, 2px, none);
                    @include setBack($danger, hover);
                    display: inline-block;
                    font-size: 0.6em;
                }
            }
        }

        .cls-item-btn {
            position: relative;
            bottom: 10px;
            left: 91%;
            font-size: 1.2em;
        }

        .chart-item {
            display: flex;
            justify-content: space-between;
            padding: 1em 0;

            .chart-item-info {
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: space-between;

                .quantity-form {
                    font-size: 0.9em;
                    font-weight: 700;
                }

                input {
                    width: 4em;
                    outline: none;
                    border-color: $cyan;
                    border-radius: 50%;
                    height: 3em;
                    text-align: center;
                    font-weight: 700;
                }

                // .item-title {
                //     font-size: 0.5em;
                // }
                .item-price {
                    font-size: 0.9em;
                    align-self: flex-end;
                    color: $orange;
                    font-weight: 700;
                    //text-decoration: underline;
                }
                .total-price {
                    font-size: 0.9em;
                    align-self: flex-end;
                    color: $cyan;
                    font-weight: 700;
                    //text-decoration: underline;
                }
            }
        }

        .chart-item-img {
            height: 6em;
        }
    }

    @include medium {
        .item-section {
            width: 50%;
        }
    }

    @include small {
        .item-section {
            width: 80%;
        }
    }

    @include mobile {
        .item-section {
            width: 100%;
        }
    }
}

.cls-btn {
    font-size: 1.4rem;

    i:hover {
        transition: ease-in-out 0.3s;
        cursor: pointer;
        color: $danger;
    }
}

/*=============================*/
/* menu-list styles */
/*=============================*/
.menu-list {
    background-color: #0707075e;
    line-height: 2;
    width: 100%;
    position: fixed;
    height: 100%;
    padding: 0 0rem;
    transform: translateX(-100%);
    z-index: 50;
    transition: ease-in-out 0.3s;
    font-size: 1rem;

    .cls-btn {
        width: 100%;
        display: block;
        text-align: end;
    }
    .menu-section {
        background-color: $white;
        padding: 0 1rem;
        font-size: 0.8rem;

        ul li {
            border-bottom: 2px solid #d2d2d2;
            transition: ease-in-out 0.3s;
            cursor: pointer;
            height: 2.5rem;
            line-height: 2.5rem;
            padding-left: 11px;
            border-radius: 2px;

            &:hover {
                color: $white;
                background-color: $black;

                a {
                    color: white;
                    // height: 100%;
                    // width: 100%;
                    // display: inline-block;
                }
            }

            img {
                height: 25px;
                margin-right: 7px;
            }
        }
    }

    .menu-contries {
        overflow: hidden;
        height: 0rem;
        transition: 0.3s;
        background-color: $back-light;

        li {
            font-weight: bold;
        }
    }

    .show-lang {
        height: 15rem;
        padding-left: 3rem;
    }

    .new {
        background-color: $cyan;
        color: $white;
        font-weight: bold;
        padding: 3px 8px;
        margin-left: 17px;
        position: relative;
        border-radius: 2px;
    }
}

@include medium {
    .menu-list {
        display: flex;
    }

    .menu-section {
        width: 60%;
    }
}

@include small {
    .menu-section {
        width: 90%;
    }
}

@include mobile {
    .menu-section {
        width: 100%;
    }
}
