*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $contentFont;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}
h2 {
    font-family: $fancy;
}

h4 {
    margin-bottom: 1rem;
}

.image {
    @extend .hover-img;
}

.current-page {
    font-family: $fancy;
    width: 100%;
    @include setBack($gray);
    text-align: left;
    font-size: 0.8rem;
    position: fixed;
    font-weight: bold;
    padding-left: 12vw;
    top: 4.2rem;
    z-index: 1;

    a {
        padding: 3px 0;
        display: inline-block;
        @include lineEffect(2px);
    }
}

footer a {
    width: fit-content;
    display: inline-block;
    @include lineEffect(0.2px);
}

//========================//
// image hover style
//========================//
.hover-img {
    position: relative;
    height: 100%;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 1.25em;
        bottom: 1.25em;
        left: 1.25em;
        right: 1.25em;
    }
    &::before {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        transform: scale(0, 1);
        transition: transform ease-out 250ms;
        width: 60%;
        margin: auto;
    }

    &:hover::before {
        cursor: pointer;
        transform: scale(1, 1);
    }

    &::after {
        border-left: 2px solid white;
        border-right: 2px solid white;
        transform: scale(1, 0);
        transition: transform ease-out 250ms;
        height: 60%;
        margin: auto;
    }

    &:hover::after {
        cursor: pointer;
        transform: scale(1, 1);
    }
}

.darken {
    filter: brightness(0.9);
}

//========================//
// li style
//========================//

.lis {
    font-size: 0.7em;
    line-height: 1.8;
    @include lineEffect(0px);
    width: fit-content;
}
