//========================//
// flex
//========================//
@mixin flex($hor: center, $ver: center) {
    display: flex;
    justify-content: $hor;
    align-items: $ver;
}

//========================//
// under line effect style
//========================//

@mixin lineEffect($top, $col: $black) {
    cursor: pointer;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        position: relative;
        top: $top;
        transition: ease-in 0.2s;
    }
    &:hover {
        transition: 0.8s;

        &::after {
            background-color: $col;
            width: 100%;
        }
    }
}

//========================//
// btn
//========================//
@mixin btn($height: 2.5rem, $radius: 2px, $border: 1px solid $black) {
    display: block;
    height: $height;
    cursor: pointer;
    font-weight: 700;
    border-radius: $radius;
    border: $border;
    transition: ease-in-out 0.3s;
    padding: 0 20px;
    letter-spacing: 1.5px;
}

//========================//
// hover background btn
//========================//

//chech the brightness of the bckgroun
@function checkColor($color) {
    @if (lightness($color) > 60) {
        @return $black;
    } @else if ($color == transparent) {
        @return $white;
    } @else {
        @return $back-light;
    }
}

// set back
@mixin setBack($color, $ok: no) {
    background-color: $color;
    color: checkColor($color);

    @if ($ok == hover) {
        @if ($color == transparent) {
            &:hover {
                background-color: checkColor($color);
                color: $black;
            }
        } @else {
            &:hover {
                background-color: checkColor($color);
                color: $color;
            }
        }
    }
}

//========================//
// hover background btn
//========================//

@mixin border($top: 2px, $right: 2px, $bottom: 2px, $left: 2px, $color: $black) {
    border-top: solid $top $color;
    border-right: solid $right $color;
    border-bottom: solid $bottom $color;
    border-left: solid $left $color;
}


/*=========================*/
   /* media queries */
/*=========================*/
@mixin mobile {
    @media (max-width: 440px) {
        @content;
    }
}
@mixin small {
    @media (max-width: 800px) {
        @content;
    }
}
@mixin medium {
    @media (max-width: 1200px) {
        @content;
    }
}
@mixin large {
    @media (min-width: 1199px) {
        @content;
    }
}

// @media (max-width: 992px) {}

//     @media (max-width: 768px) {}

//     @media (max-width: 376px) {}