$black : #000000;
$cyan : #00a7a7ce;
$orange : #ff8600;
$pink : lightcoral;
$white : white;
$gray : #ddd8d8;
$danger:#d9534f;
$text-light : #787878;
$back-light : #f4f4f4;

$navHeight: 4.4rem;