.flex, .navbar .category, .navbar .category li, .navbar .activities, .navbar .activities .bag-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hover-img::before, .mens-items .image::before, .women-items .image::before, .ACCESSORIES .accessories-items .image::before, .DISCOVER .discover-items .image::before, .hover-img::after, .mens-items .image::after, .women-items .image::after, .ACCESSORIES .accessories-items .image::after, .DISCOVER .discover-items .image::after {
  content: "";
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
}

.hover-img::before, .mens-items .image::before, .women-items .image::before, .ACCESSORIES .accessories-items .image::before, .DISCOVER .discover-items .image::before {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: scale(0, 1);
  transition: transform ease-out 250ms;
  width: 60%;
  margin: auto;
}

.hover-img:hover::before, .mens-items .image:hover::before, .women-items .image:hover::before, .ACCESSORIES .accessories-items .image:hover::before, .DISCOVER .discover-items .image:hover::before {
  cursor: pointer;
  transform: scale(1, 1);
}

.hover-img::after, .mens-items .image::after, .women-items .image::after, .ACCESSORIES .accessories-items .image::after, .DISCOVER .discover-items .image::after {
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scale(1, 0);
  transition: transform ease-out 250ms;
  height: 60%;
  margin: auto;
}

.hover-img:hover::after, .mens-items .image:hover::after, .women-items .image:hover::after, .ACCESSORIES .accessories-items .image:hover::after, .DISCOVER .discover-items .image:hover::after {
  cursor: pointer;
  transform: scale(1, 1);
}

.darken {
  filter: brightness(0.5);
}

/*=============================*/
/* navbar styles */
/*=============================*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  font-size: 0.1rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  background: white;
  position: relative;
  z-index: 5;
}

.navbar .logo {
  background-color: #c8c8c8;
}

.navbar ul {
  list-style: none;
}

.navbar .category a {
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.navbar .category a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 4px;
  transition: ease-in .2s;
}

.navbar .category a:hover {
  transition: .8s;
}

.navbar .category a:hover::after {
  background-color: #000000;
  width: 100%;
}

.navbar .category #new {
  background: #00a7a7ce;
  color: white;
  padding: 3px 8px;
  font-weight: 700;
  position: relative;
  bottom: 25px;
  right: 47px;
}

.navbar .category #new::after {
  content: "";
  border-style: solid;
  border-width: 8px;
  border-color: #00a7a7ce transparent transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 19px;
  right: 14px;
}

.navbar .activities a {
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.navbar .activities a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 4px;
  transition: ease-in .2s;
}

.navbar .activities a:hover {
  transition: .8s;
}

.navbar .activities a:hover::after {
  background-color: #000000;
  width: 100%;
}

.navbar .activities .languges {
  display: flex;
  margin-right: 19px;
  align-items: center;
  cursor: pointer;
}

.navbar .activities .languges img {
  height: 18px;
  position: relative;
  display: inline-block;
  right: 6px;
  margin: 0px 0px;
}

.navbar .activities .bag-logo {
  font-size: 1.5rem;
  width: 40px;
  cursor: pointer;
}

.navbar .activities .bag-logo #items-number {
  background: #f04747f0;
  color: white;
  font-size: 1rem;
  border-radius: 50px;
  height: 26px;
  display: flex;
  padding: 9px 7px;
  align-items: center;
  position: relative;
  bottom: 10px;
  right: 4px;
  font-weight: 700;
}

/*=============================*/
/* MENS Section */
/*=============================*/
h4 {
  margin-bottom: 1rem;
}

.MENS {
  background: white;
  position: relative;
  transition: ease-in-out 0.3s;
  transform: translateY(-102%);
}

.mens-items {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.4rem;
}

.mens-items .list-one,
.mens-items .list-two,
.mens-items .discover {
  display: inline-block;
  list-style: none;
  margin-bottom: 10px;
  align-self: flex-start;
  height: 100%;
}

.mens-items li {
  line-height: 1.8;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.mens-items li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0px;
  transition: ease-in .2s;
}

.mens-items li:hover {
  transition: .8s;
}

.mens-items li:hover::after {
  background-color: #000000;
  width: 100%;
}

.mens-items .discover {
  width: 20rem;
  line-height: 1.8;
  display: flex;
  overflow: hidden;
}

.mens-items .item {
  margin: 0 60px;
  transform: translateX(-200%);
  transition: 0.3s;
}

.mens-items .discover img {
  width: 100%;
  box-shadow: 1px 4px 22px #9b9b9b;
}

.mens-items .image {
  position: relative;
}

.mens-items .image img {
  height: 100%;
  width: 100%;
}

.mens-items .description p {
  font-weight: 600;
  word-spacing: 2px;
}

.mens-items .description .price {
  color: lightcoral;
  font-weight: bold;
}

.mens-items .description .old-price {
  text-decoration-line: line-through;
}

.mens-items .description .details {
  cursor: pointer;
  font-weight: bold;
  color: #ff8600;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.mens-items .description .details::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0px;
  transition: ease-in .2s;
}

.mens-items .description .details:hover {
  transition: .8s;
}

.mens-items .description .details:hover::after {
  background-color: #ff8600;
  width: 100%;
}

.changer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  color: #00a7a7ce;
  width: 23%;
  position: relative;
  bottom: 33px;
  left: 31%;
}

.changer span {
  display: inline-block;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  border: 1px solid #00a7a7ce;
  margin: 0 15px;
  cursor: pointer;
}

.changer i {
  cursor: pointer;
}

.changer .active {
  background-color: #00a7a7ce;
}

/*=============================*/
/* WOMEN Section */
/*=============================*/
.WOMENS {
  width: 61%;
  bottom: 408px;
  left: 6.2rem;
  background: white;
  position: relative;
  transition: ease-in-out 0.3s;
  transform: translateY(-102%);
}

.women-items, .ACCESSORIES .accessories-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.women-items ul, .ACCESSORIES .accessories-items ul {
  list-style: none;
}

.women-items li, .ACCESSORIES .accessories-items li {
  line-height: 1.8;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.women-items li::after, .ACCESSORIES .accessories-items li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0px;
  transition: ease-in .2s;
}

.women-items li:hover, .ACCESSORIES .accessories-items li:hover {
  transition: .8s;
}

.women-items li:hover::after, .ACCESSORIES .accessories-items li:hover::after {
  background-color: #000000;
  width: 100%;
}

.women-items .list-one, .ACCESSORIES .accessories-items .list-one {
  padding-left: 2rem;
}

.women-items .image, .ACCESSORIES .accessories-items .image {
  position: relative;
}

.women-items img, .ACCESSORIES .accessories-items img {
  height: 100%;
}

/*=============================*/
/* ACCESSORIES Section */
/*=============================*/
.ACCESSORIES {
  width: 39%;
  transform: translateY(-102%);
  left: 10rem;
  bottom: 940px;
  background: white;
  position: relative;
  transition: ease-in-out 0.3s;
  transform: translateY(-102%);
}

/*=============================*/
/* DESCOVER Section */
/*=============================*/
.DISCOVER {
  background: white;
  position: absolute;
  transition: ease-in-out 0.3s;
  top: 100px;
  width: 100%;
  transform: translateY(-102%);
  background: white;
  transition: ease-in-out 0.3s;
}

.DISCOVER .discover-items {
  display: flex;
  justify-content: center;
}

.DISCOVER .discover-items .image {
  position: relative;
  width: 100%;
}

.DISCOVER .discover-items img {
  height: 10rem;
  width: 100%;
}

.DISCOVER .more-collection {
  padding: 8px 0;
  text-align: center;
  font-weight: bold;
}

.DISCOVER .more-collection a {
  font-size: 0.5rem;
  color: #000000;
  text-decoration: underline;
}

/*=============================*/
/* LANG Section */
/*=============================*/
.GBP {
  position: absolute;
  background-color: white;
  top: 103px;
  right: 118px;
  text-align: center;
  transform: translateY(-110%);
  transition: ease-in-out 0.3s;
}

.GBP ul {
  list-style: none;
}

.GBP h3 {
  background-color: #d9d9d9;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 0.7rem;
}

.GBP span {
  cursor: pointer;
  position: relative;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
}

.GBP span::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 0px;
  transition: ease-in .2s;
}

.GBP span:hover {
  transition: .8s;
}

.GBP span:hover::after {
  background-color: #000000;
  width: 100%;
}

.GBP .contries {
  width: 7rem;
  text-align: left;
  padding: 11px 15px;
  line-height: 2;
}

.GBP .contries img {
  height: 0.7rem;
}

.GBP .contries img:nth-child(2) {
  margin-right: 2px;
  width: 3rem;
}

/*=========================================*/
/* main styles */
/*=========================================*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*.container {
    max-width: 1400px;
    margin: auto;
}*/
.landing-page {
  background: url("/img/WinterSale_HomepageBanner_v3.webp") center/cover no-repeat;
  height: 90vh;
  position: absolute;
  left: 0;
  top: 104px;
  width: 100%;
  z-index: -15;
}
/*# sourceMappingURL=style.css.map */